 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #101010;
    padding: 25px;
    color: white;

  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}


/* to hide the helptext class content on login page */
.helptext{
  display: none;
}
.loginForm{
text-align: center;
justify-content: center;
}
#id_profile_pic{
text-align: center;
margin: auto;
} 


.boldd{
  font-weight: bold;
}

.catdiv{
  border: 1px solid #d6c9c9;
  padding: 20px;
  margin: 20px;
  text-align: center;
  justify-content: center;
}
.catdiv:hover{
  background-color: antiquewhite;
}


.heading-login{
  text-align: center;
}

.center{
  text-align: center;
  justify-content: center;
}





/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}



